/* Estilo para el formulario de login (ventana emergente) */
.login-form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  
  .login-form h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 15px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"],
  .close-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
  }
  
  .close-button {
    background-color: #ccc;
    color: #333;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Fondo semitransparente para el modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
  